<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Administrator</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">
                            <i class="fas fa-fw fa-home"></i>
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">
                            <i class="fas fa-fw fa-file"></i>
                            Gestion des fichiers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted dropdown-toggle" href="#" data-toggle="collapse" data-target="#collapseItem">
                            <i class="fas fa-fw fa-file"></i>
                            Toutes les fonctionnalités <br/>d'enrichissement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted dropdown-toggle" href="#" data-toggle="collapse" data-target="#collapseParametres">
                            <i class="fas fa-fw fa-file"></i>
                            Paramétrages
                        </a>
                        <ul class="nav collapse show pl-3" id="collapseParametres">
                            <li class="nav-item">
                                <a class="nav-link text-muted" href="#">
                                    <i class="fas fa-fw fa-file"></i>
                                    Paramétrages des attributs
                                </a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-muted" href="#">
                                        <i class="fas fa-fw fa-spinner"></i>
                                        Charger les listes de valeurs
                                    </a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-muted" [routerLink]="['/typage']" routerLinkActive="active">
                                       <i class="fas fa-fw fa-file"></i>
                                       Typage des attributs
                                    </a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-muted" href="#">
                                       <i class="fas fa-fw fa-file"></i>
                                       Rafraichir la base des listes
                                    </a>
                            </li>

                        </ul>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Typage des attributs</h1>
            </div>

            <router-outlet></router-outlet>
        </main>
    </div>
</div>